.slider 
    img.logo(src="../imgs/logo.png", alt="logo")
    ul 
        li(class=`${quranClass}`)
            a(href="../index.html") القرآن
        li(class=`${adkharClass}`)
            a(href="../adhkar.html") حصن المسلم
        li(class=`${adhanClass}`)
            a(href="../adhan.html") الآذان
        li(class=`${moshafClass}`)
            a(href="../moshaf.html") المصحف
        li(class=`${moshafEnClass}`)
            a(href="../moshafEn.html") المصحف بالإنجليزية
        li(class=`${qiblaClass}`)
            a(href="../qibla.html") القبلة