.slider 
    img.logo(src="../imgs/logo.png", alt="logo")
    ul 
        li(class=`${quranClass}`)
            a(href="../html-pages/quran-page.html") القرآن
        li(class=`${adkharClass}`)
            a(href="../html-pages/adhkar.html") حصن المسلم
        li(class=`${adhanClass}`)
            a(href="../html-pages/adhan.html") الآذان
        li(class=`${moshafClass}`)
            a(href="../html-pages/moshaf.html") المصحف
        li(class=`${moshafEnClass}`)
            a(href="../html-pages/moshafEn.html") المصحف بالإنجليزية
        li(class=`${qiblaClass}`)
            a(href="../html-pages/qibla.html") القبلة